*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    min-height:100vh;

    font-family:Arial, Helvetica, sans-serif;

    background: linear-gradient(
        to bottom,
        #5ea9ff,
        #7f85e6
    );
}

header{
    background:black;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:15px 40px;
}

.logo{
    color:C1121F;
    font-size:2rem;
    font-weight:bold;
}

nav{
    display:flex;
    gap:25px;
}

nav a{
    text-decoration:none;
    color:white;

    background:#434b9b;

    padding:12px 35px;

    clip-path: polygon(
        15% 0,
        85% 0,
        100% 50%,
        85% 100%,
        15% 100%,
        0 50%
    );

    transition:.3s;
}

nav a:hover{
    background:#2e3578;
}

main{
    width:90%;
    max-width:1200px;

    margin:auto;
}

.banner{
    margin-top:30px;
}

.banner img{
    width:100%;
    border-radius:8px;
}

.descricao{
    text-align:center;
    margin:30px 0;
}

.descricao p{
    font-size:2rem;
    line-height:1.5;
}

.galeria{
    display:flex;
    justify-content:center;
    gap:40px;

    margin-bottom:50px;

    flex-wrap:wrap;
}

.card{
    width:250px;
}

.card img{
    width:100%;
    height:380px;

    object-fit:cover;

    border-radius:8px;

    transition:.3s;
}

.card img:hover{
    transform:scale(1.05);
}

footer{
    background:black;
    color:C1121F;

    text-align:center;

    padding:20px;
}