* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient( black, gray);
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 1200px;
    margin: 40px auto;
    padding: 0 20px;
}

.page-card {
    background: white;

    padding: 2rem;

    border-radius: 15px;

    box-shadow: 0 5px 15px rgba(0,0,0,.08);
}

.page-card h1 {
    color: #1e293b;
    margin-bottom: 1rem;
}